In [42]:
import pandas as pd
import numpy as np
import csv

In [43]:
csv_path = "test.csv"

In [44]:
df = pd.read_csv(csv_path, header = None)

In [45]:
df

    0  1  2  3  4  5  6  7  8  9
0   f  f  t  f  f  f  f  f  f  t
1   f  f  t  f  f  f  f  f  t  f
2   f  t  f  f  f  f  f  t  f  f
3   f  f  f  f  t  f  t  f  f  f
4   f  f  f  f  t  t  f  f  f  f
5   f  f  f  f  t  f  f  f  f  t
6   f  f  f  t  f  f  f  f  t  f
7   t  f  f  f  f  f  f  f  t  f
8   f  f  f  t  f  f  f  f  f  t
9   f  t  f  f  f  f  f  f  f  t
10  t  f  f  f  f  f  f  f  f  t
11  f  f  f  f  t  f  t  f  f  f
12  f  f  t  f  f  f  f  t  f  f
13  f  t  f  f  f  f  f  f  t  f
14  f  f  t  f  f  f  f  f  t  f
15  f  f  t  f  f  f  f  f  t  f

In [46]:
df[df == 't'] = 1
df[df == 'f'] = 0
df

    0  1  2  3  4  5  6  7  8  9
0   0  0  1  0  0  0  0  0  0  1
1   0  0  1  0  0  0  0  0  1  0
2   0  1  0  0  0  0  0  1  0  0
3   0  0  0  0  1  0  1  0  0  0
4   0  0  0  0  1  1  0  0  0  0
5   0  0  0  0  1  0  0  0  0  1
6   0  0  0  1  0  0  0  0  1  0
7   1  0  0  0  0  0  0  0  1  0
8   0  0  0  1  0  0  0  0  0  1
9   0  1  0  0  0  0  0  0  0  1
10  1  0  0  0  0  0  0  0  0  1
11  0  0  0  0  1  0  1  0  0  0
12  0  0  1  0  0  0  0  1  0  0
13  0  1  0  0  0  0  0  0  1  0
14  0  0  1  0  0  0  0  0  1  0
15  0  0  1  0  0  0  0  0  1  0

In [47]:
df2 = df.astype(int)
df2.dtypes

0    int64
1    int64
2    int64
3    int64
4    int64
5    int64
6    int64
7    int64
8    int64
9    int64
dtype: object

In [51]:
np.sum(df2, axis =1)

0     2
1     2
2     2
3     2
4     2
5     2
6     2
7     2
8     2
9     2
10    2
11    2
12    2
13    2
14    2
15    2
dtype: int64

In [41]:
count = 0
for i in range(len(df2)): 
    df3 = df2.iloc[i, 0:5]
    for num in range (len(df3)):
        count = count + num
    print(count, df3)

10 0    0
1    0
2    0
3    0
4    0
Name: 0, dtype: int64
20 0    0
1    0
2    0
3    0
4    0
Name: 1, dtype: int64
30 0    0
1    0
2    0
3    0
4    0
Name: 2, dtype: int64
40 0    0
1    0
2    0
3    0
4    0
Name: 3, dtype: int64
50 0    0
1    0
2    0
3    0
4    0
Name: 4, dtype: int64
60 0    0
1    0
2    0
3    0
4    1
Name: 5, dtype: int64
70 0    0
1    0
2    0
3    1
4    0
Name: 6, dtype: int64

In [49]:
df3

0    0
1    0
2    0
3    1
4    0
Name: 6, dtype: int64

In [50]:
df4

(5    0
 6    0
 7    0
 8    0
 9    0
 Name: 6, dtype: object,)